/* cabin-regular - latin */
@font-face {
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 400;
  src: url('../font/cabin/cabin-v11-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Cabin'), local('Cabin-Regular'),
       url('../font/cabin/cabin-v11-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/cabin/cabin-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/cabin/cabin-v11-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../font/cabin/cabin-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../font/cabin/cabin-v11-latin-regular.svg#Cabin') format('svg'); /* Legacy iOS */
}
/* cabin-500 - latin */
@font-face {
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 500;
  src: url('../font/cabin/cabin-v11-latin-500.eot'); /* IE9 Compat Modes */
  src: local('Cabin Medium'), local('Cabin-Medium'),
       url('../font/cabin/cabin-v11-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/cabin/cabin-v11-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/cabin/cabin-v11-latin-500.woff') format('woff'), /* Modern Browsers */
       url('../font/cabin/cabin-v11-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../font/cabin/cabin-v11-latin-500.svg#Cabin') format('svg'); /* Legacy iOS */
}
/* cabin-italic - latin */
@font-face {
  font-family: 'Cabin';
  font-style: italic;
  font-weight: 400;
  src: url('../font/cabin/cabin-v11-latin-italic.eot'); /* IE9 Compat Modes */
  src: local('Cabin Italic'), local('Cabin-Italic'),
       url('../font/cabin/cabin-v11-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/cabin/cabin-v11-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/cabin/cabin-v11-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('../font/cabin/cabin-v11-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../font/cabin/cabin-v11-latin-italic.svg#Cabin') format('svg'); /* Legacy iOS */
}
/* cabin-500italic - latin */
@font-face {
  font-family: 'Cabin';
  font-style: italic;
  font-weight: 500;
  src: url('../font/cabin/cabin-v11-latin-500italic.eot'); /* IE9 Compat Modes */
  src: local('Cabin Medium Italic'), local('Cabin-MediumItalic'),
       url('../font/cabin/cabin-v11-latin-500italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/cabin/cabin-v11-latin-500italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/cabin/cabin-v11-latin-500italic.woff') format('woff'), /* Modern Browsers */
       url('../font/cabin/cabin-v11-latin-500italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../font/cabin/cabin-v11-latin-500italic.svg#Cabin') format('svg'); /* Legacy iOS */
}
/* cabin-600 - latin */
@font-face {
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 600;
  src: url('../font/cabin/cabin-v11-latin-600.eot'); /* IE9 Compat Modes */
  src: local('Cabin SemiBold'), local('Cabin-SemiBold'),
       url('../font/cabin/cabin-v11-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/cabin/cabin-v11-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/cabin/cabin-v11-latin-600.woff') format('woff'), /* Modern Browsers */
       url('../font/cabin/cabin-v11-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../font/cabin/cabin-v11-latin-600.svg#Cabin') format('svg'); /* Legacy iOS */
}
/* cabin-600italic - latin */
@font-face {
  font-family: 'Cabin';
  font-style: italic;
  font-weight: 600;
  src: url('../font/cabin/cabin-v11-latin-600italic.eot'); /* IE9 Compat Modes */
  src: local('Cabin SemiBold Italic'), local('Cabin-SemiBoldItalic'),
       url('../font/cabin/cabin-v11-latin-600italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/cabin/cabin-v11-latin-600italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/cabin/cabin-v11-latin-600italic.woff') format('woff'), /* Modern Browsers */
       url('../font/cabin/cabin-v11-latin-600italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../font/cabin/cabin-v11-latin-600italic.svg#Cabin') format('svg'); /* Legacy iOS */
}
/* cabin-700 - latin */
@font-face {
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 700;
  src: url('../font/cabin/cabin-v11-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Cabin Bold'), local('Cabin-Bold'),
       url('../font/cabin/cabin-v11-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/cabin/cabin-v11-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/cabin/cabin-v11-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../font/cabin/cabin-v11-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../font/cabin/cabin-v11-latin-700.svg#Cabin') format('svg'); /* Legacy iOS */
}
/* cabin-700italic - latin */
@font-face {
  font-family: 'Cabin';
  font-style: italic;
  font-weight: 700;
  src: url('../font/cabin/cabin-v11-latin-700italic.eot'); /* IE9 Compat Modes */
  src: local('Cabin Bold Italic'), local('Cabin-BoldItalic'),
       url('../font/cabin/cabin-v11-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/cabin/cabin-v11-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/cabin/cabin-v11-latin-700italic.woff') format('woff'), /* Modern Browsers */
       url('../font/cabin/cabin-v11-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../font/cabin/cabin-v11-latin-700italic.svg#Cabin') format('svg'); /* Legacy iOS */
}



/* cabin-condensed-regular - latin */
@font-face {
  font-family: 'Cabin Condensed';
  font-style: normal;
  font-weight: 400;
  src: url('../font/cabin/cabin-condensed-v10-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Cabin Condensed'), local('CabinCondensed-Regular'),
       url('../font/cabin/cabin-condensed-v10-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/cabin/cabin-condensed-v10-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/cabin/cabin-condensed-v10-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../font/cabin/cabin-condensed-v10-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../font/cabin/cabin-condensed-v10-latin-regular.svg#CabinCondensed') format('svg'); /* Legacy iOS */
}
/* cabin-condensed-500 - latin */
@font-face {
  font-family: 'Cabin Condensed';
  font-style: normal;
  font-weight: 500;
  src: url('../font/cabin/cabin-condensed-v10-latin-500.eot'); /* IE9 Compat Modes */
  src: local('Cabin Condensed Medium'), local('CabinCondensed-Medium'),
       url('../font/cabin/cabin-condensed-v10-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/cabin/cabin-condensed-v10-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/cabin/cabin-condensed-v10-latin-500.woff') format('woff'), /* Modern Browsers */
       url('../font/cabin/cabin-condensed-v10-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../font/cabin/cabin-condensed-v10-latin-500.svg#CabinCondensed') format('svg'); /* Legacy iOS */
}
/* cabin-condensed-600 - latin */
@font-face {
  font-family: 'Cabin Condensed';
  font-style: normal;
  font-weight: 600;
  src: url('../font/cabin/cabin-condensed-v10-latin-600.eot'); /* IE9 Compat Modes */
  src: local('Cabin Condensed SemiBold'), local('CabinCondensed-SemiBold'),
       url('../font/cabin/cabin-condensed-v10-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/cabin/cabin-condensed-v10-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/cabin/cabin-condensed-v10-latin-600.woff') format('woff'), /* Modern Browsers */
       url('../font/cabin/cabin-condensed-v10-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../font/cabin/cabin-condensed-v10-latin-600.svg#CabinCondensed') format('svg'); /* Legacy iOS */
}
/* cabin-condensed-700 - latin */
@font-face {
  font-family: 'Cabin Condensed';
  font-style: normal;
  font-weight: 700;
  src: url('../font/cabin/cabin-condensed-v10-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Cabin Condensed Bold'), local('CabinCondensed-Bold'),
       url('../font/cabin/cabin-condensed-v10-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/cabin/cabin-condensed-v10-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/cabin/cabin-condensed-v10-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../font/cabin/cabin-condensed-v10-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../font/cabin/cabin-condensed-v10-latin-700.svg#CabinCondensed') format('svg'); /* Legacy iOS */
}
