/* cantora-one-regular - latin */
@font-face {
  font-family: 'Cantora One';
  font-style: normal;
  font-weight: 400;
  src: url('../font/web/cantora-one-v6-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Cantora One'), local('CantoraOne-Regular'),
       url('../font/web/cantora-one-v6-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/web/cantora-one-v6-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/web/cantora-one-v6-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../font/web/cantora-one-v6-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../font/web/cantora-one-v6-latin-regular.svg#CantoraOne') format('svg'); /* Legacy iOS */
}



/* libre-baskerville-regular - latin */
@font-face {
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 400;
  src: url('../font/web/libre-baskerville-v4-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Libre Baskerville'), local('LibreBaskerville-Regular'),
       url('../font/web/libre-baskerville-v4-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/web/libre-baskerville-v4-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/web/libre-baskerville-v4-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../font/web/libre-baskerville-v4-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../font/web/libre-baskerville-v4-latin-regular.svg#LibreBaskerville') format('svg'); /* Legacy iOS */
}
/* libre-baskerville-italic - latin */
@font-face {
  font-family: 'Libre Baskerville';
  font-style: italic;
  font-weight: 400;
  src: url('../font/web/libre-baskerville-v4-latin-italic.eot'); /* IE9 Compat Modes */
  src: local('Libre Baskerville Italic'), local('LibreBaskerville-Italic'),
       url('../font/web/libre-baskerville-v4-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/web/libre-baskerville-v4-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/web/libre-baskerville-v4-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('../font/web/libre-baskerville-v4-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../font/web/libre-baskerville-v4-latin-italic.svg#LibreBaskerville') format('svg'); /* Legacy iOS */
}
/* libre-baskerville-700 - latin */
@font-face {
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 700;
  src: url('../font/web/libre-baskerville-v4-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Libre Baskerville Bold'), local('LibreBaskerville-Bold'),
       url('../font/web/libre-baskerville-v4-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/web/libre-baskerville-v4-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/web/libre-baskerville-v4-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../font/web/libre-baskerville-v4-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../font/web/libre-baskerville-v4-latin-700.svg#LibreBaskerville') format('svg'); /* Legacy iOS */
}

/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('../font/web/montserrat-v10-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
       url('../font/web/montserrat-v10-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/web/montserrat-v10-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/web/montserrat-v10-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../font/web/montserrat-v10-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../font/web/montserrat-v10-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-italic - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 400;
  src: url('../font/web/montserrat-v10-latin-italic.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Italic'), local('Montserrat-Italic'),
       url('../font/web/montserrat-v10-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/web/montserrat-v10-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/web/montserrat-v10-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('../font/web/montserrat-v10-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../font/web/montserrat-v10-latin-italic.svg#Montserrat') format('svg'); /* Legacy iOS */
}

/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../font/web/open-sans-v13-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Open Sans'), local('OpenSans'),
       url('../font/web/open-sans-v13-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/web/open-sans-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/web/open-sans-v13-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../font/web/open-sans-v13-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../font/web/open-sans-v13-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: url('../font/web/open-sans-v13-latin-italic.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Italic'), local('OpenSans-Italic'),
       url('../font/web/open-sans-v13-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/web/open-sans-v13-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/web/open-sans-v13-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('../font/web/open-sans-v13-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../font/web/open-sans-v13-latin-italic.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-600 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../font/web/open-sans-v13-latin-600.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'),
       url('../font/web/open-sans-v13-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/web/open-sans-v13-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/web/open-sans-v13-latin-600.woff') format('woff'), /* Modern Browsers */
       url('../font/web/open-sans-v13-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../font/web/open-sans-v13-latin-600.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-700 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../font/web/open-sans-v13-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Bold'), local('OpenSans-Bold'),
       url('../font/web/open-sans-v13-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/web/open-sans-v13-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/web/open-sans-v13-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../font/web/open-sans-v13-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../font/web/open-sans-v13-latin-700.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-600italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: url('../font/web/open-sans-v13-latin-600italic.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Semibold Italic'), local('OpenSans-SemiboldItalic'),
       url('../font/web/open-sans-v13-latin-600italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/web/open-sans-v13-latin-600italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/web/open-sans-v13-latin-600italic.woff') format('woff'), /* Modern Browsers */
       url('../font/web/open-sans-v13-latin-600italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../font/web/open-sans-v13-latin-600italic.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-700italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: url('../font/web/open-sans-v13-latin-700italic.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'),
       url('../font/web/open-sans-v13-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/web/open-sans-v13-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/web/open-sans-v13-latin-700italic.woff') format('woff'), /* Modern Browsers */
       url('../font/web/open-sans-v13-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../font/web/open-sans-v13-latin-700italic.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-800 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: url('../font/web/open-sans-v13-latin-800.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Extrabold'), local('OpenSans-Extrabold'),
       url('../font/web/open-sans-v13-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/web/open-sans-v13-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/web/open-sans-v13-latin-800.woff') format('woff'), /* Modern Browsers */
       url('../font/web/open-sans-v13-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../font/web/open-sans-v13-latin-800.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-800italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 800;
  src: url('../font/web/open-sans-v13-latin-800italic.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Extrabold Italic'), local('OpenSans-ExtraboldItalic'),
       url('../font/web/open-sans-v13-latin-800italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/web/open-sans-v13-latin-800italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/web/open-sans-v13-latin-800italic.woff') format('woff'), /* Modern Browsers */
       url('../font/web/open-sans-v13-latin-800italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../font/web/open-sans-v13-latin-800italic.svg#OpenSans') format('svg'); /* Legacy iOS */
}


/* pacifico-regular - latin */
@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: url('../font/web/pacifico-v9-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Pacifico Regular'), local('Pacifico-Regular'),
       url('../font/web/pacifico-v9-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/web/pacifico-v9-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/web/pacifico-v9-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../font/web/pacifico-v9-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../font/web/pacifico-v9-latin-regular.svg#Pacifico') format('svg'); /* Legacy iOS */
}

/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../font/web/roboto-v16-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Regular'),
       url('../font/web/roboto-v16-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/web/roboto-v16-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/web/roboto-v16-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../font/web/roboto-v16-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../font/web/roboto-v16-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-300italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  src: url('../font/web/roboto-v16-latin-300italic.eot'); /* IE9 Compat Modes */
  src: local('Roboto Light Italic'), local('Roboto-LightItalic'),
       url('../font/web/roboto-v16-latin-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/web/roboto-v16-latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/web/roboto-v16-latin-300italic.woff') format('woff'), /* Modern Browsers */
       url('../font/web/roboto-v16-latin-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../font/web/roboto-v16-latin-300italic.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: url('../font/web/roboto-v16-latin-italic.eot'); /* IE9 Compat Modes */
  src: local('Roboto Italic'), local('Roboto-Italic'),
       url('../font/web/roboto-v16-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/web/roboto-v16-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/web/roboto-v16-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('../font/web/roboto-v16-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../font/web/roboto-v16-latin-italic.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-500italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  src: url('../font/web/roboto-v16-latin-500italic.eot'); /* IE9 Compat Modes */
  src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'),
       url('../font/web/roboto-v16-latin-500italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/web/roboto-v16-latin-500italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/web/roboto-v16-latin-500italic.woff') format('woff'), /* Modern Browsers */
       url('../font/web/roboto-v16-latin-500italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../font/web/roboto-v16-latin-500italic.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-500 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('../font/web/roboto-v16-latin-500.eot'); /* IE9 Compat Modes */
  src: local('Roboto Medium'), local('Roboto-Medium'),
       url('../font/web/roboto-v16-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/web/roboto-v16-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/web/roboto-v16-latin-500.woff') format('woff'), /* Modern Browsers */
       url('../font/web/roboto-v16-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../font/web/roboto-v16-latin-500.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../font/web/roboto-v16-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Roboto Bold'), local('Roboto-Bold'),
       url('../font/web/roboto-v16-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/web/roboto-v16-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/web/roboto-v16-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../font/web/roboto-v16-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../font/web/roboto-v16-latin-700.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-700italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: url('../font/web/roboto-v16-latin-700italic.eot'); /* IE9 Compat Modes */
  src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'),
       url('../font/web/roboto-v16-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/web/roboto-v16-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/web/roboto-v16-latin-700italic.woff') format('woff'), /* Modern Browsers */
       url('../font/web/roboto-v16-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../font/web/roboto-v16-latin-700italic.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-900 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url('../font/web/roboto-v16-latin-900.eot'); /* IE9 Compat Modes */
  src: local('Roboto Black'), local('Roboto-Black'),
       url('../font/web/roboto-v16-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/web/roboto-v16-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/web/roboto-v16-latin-900.woff') format('woff'), /* Modern Browsers */
       url('../font/web/roboto-v16-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../font/web/roboto-v16-latin-900.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-900italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 900;
  src: url('../font/web/roboto-v16-latin-900italic.eot'); /* IE9 Compat Modes */
  src: local('Roboto Black Italic'), local('Roboto-BlackItalic'),
       url('../font/web/roboto-v16-latin-900italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/web/roboto-v16-latin-900italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/web/roboto-v16-latin-900italic.woff') format('woff'), /* Modern Browsers */
       url('../font/web/roboto-v16-latin-900italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../font/web/roboto-v16-latin-900italic.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* supermercado-one-regular - latin */
@font-face {
  font-family: 'Supermercado One';
  font-style: normal;
  font-weight: 400;
  src: url('../font/web/supermercado-one-v6-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Supermercado One Regular'), local('SupermercadoOne-Regular'),
       url('../font/web/supermercado-one-v6-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/web/supermercado-one-v6-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/web/supermercado-one-v6-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../font/web/supermercado-one-v6-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../font/web/supermercado-one-v6-latin-regular.svg#SupermercadoOne') format('svg'); /* Legacy iOS */
}
