
/* Visual Composer Grid */
.vc_row {
    &.wpb_row {
        margin-bottom: 0;

        &.vc_row-no-padding .vc_column_container {
            padding-left: 0;
            padding-right: 0;

            &.section {
                padding-left: $grid-gutter-width;
                padding-right: $grid-gutter-width;

                @media #{$screen-medium} {
                    padding-left: ($grid-gutter-width / 2);
                    padding-right: ($grid-gutter-width / 2);
                }
            }
        }
    }
    &.section-with-divider {
        overflow: visible;
    }
}
body {
    .vc_row {
        margin-left: -($grid-gutter-width / 2);
        margin-right: -($grid-gutter-width / 2);
		&.vc_column-gap-1{
			margin-left: -0.5px;
			margin-right: -0.5px;
		}
		&.vc_column-gap-2{
			margin-left: 0px;
			margin-right: 0px;
		}
		&.vc_column-gap-3{
			margin-left: -0.5px;
			margin-right: -0.5px;
		}
		&.vc_column-gap-4{
			margin-left: -1px;
			margin-right: -1px;
		}
		&.vc_column-gap-5{
			margin-left: -1.5px;
			margin-right: -1.5px;
		}
		&.vc_column-gap-10{
			margin-left: -4px;
			margin-right: -4px;
		}
		&.vc_column-gap-15{
			margin-left: -6.5px;
			margin-right: -6.5px;
		}
		&.vc_column-gap-20{
			margin-left: -9.5px;
			margin-right: -9.5px;
		}
		&.vc_column-gap-25{
			margin-left: -11.5px;
			margin-right: -11.5px;
		}
		&.vc_column-gap-30{
			margin-left: -14px;
			margin-right: -14px;
		}
		&.vc_column-gap-35{
			margin-left: -16.5px;
			margin-right: -16.5px;
		}
    }

    .vc_col-xs-1, .vc_col-sm-1, .vc_col-md-1, .vc_col-lg-1,
    .vc_col-xs-2, .vc_col-sm-2, .vc_col-md-2, .vc_col-lg-2,
    .vc_col-xs-3, .vc_col-sm-3, .vc_col-md-3, .vc_col-lg-3,
    .vc_col-xs-4, .vc_col-sm-4, .vc_col-md-4, .vc_col-lg-4,
    .vc_col-xs-5, .vc_col-sm-5, .vc_col-md-5, .vc_col-lg-5,
    .vc_col-xs-6, .vc_col-sm-6, .vc_col-md-6, .vc_col-lg-6,
    .vc_col-xs-7, .vc_col-sm-7, .vc_col-md-7, .vc_col-lg-7,
    .vc_col-xs-8, .vc_col-sm-8, .vc_col-md-8, .vc_col-lg-8,
    .vc_col-xs-9, .vc_col-sm-9, .vc_col-md-9, .vc_col-lg-9,
    .vc_col-xs-10, .vc_col-sm-10, .vc_col-md-10, .vc_col-lg-10,
    .vc_col-xs-11, .vc_col-sm-11, .vc_col-md-11, .vc_col-lg-11,
    .vc_col-xs-12, .vc_col-sm-12, .vc_col-md-12, .vc_col-lg-12 {
        padding-left: ($grid-gutter-width / 2);
        padding-right: ($grid-gutter-width / 2);
    }
    .vc_non_responsive .vc_row .vc_col-sm-1,
    .vc_non_responsive .vc_row .vc_col-sm-2,
    .vc_non_responsive .vc_row .vc_col-sm-3,
    .vc_non_responsive .vc_row .vc_col-sm-4,
    .vc_non_responsive .vc_row .vc_col-sm-5,
    .vc_non_responsive .vc_row .vc_col-sm-6,
    .vc_non_responsive .vc_row .vc_col-sm-7,
    .vc_non_responsive .vc_row .vc_col-sm-8,
    .vc_non_responsive .vc_row .vc_col-sm-9,
    .vc_non_responsive .vc_row .vc_col-sm-10,
    .vc_non_responsive .vc_row .vc_col-sm-11,
    .vc_non_responsive .vc_row .vc_col-sm-12 {
        padding-left: ($grid-gutter-width / 2);
        padding-right: ($grid-gutter-width / 2);
    }
}

@if $rtl == 1{
	@media (min-width:1200px){
		.vc_col-lg-1, .vc_col-lg-2, .vc_col-lg-3, .vc_col-lg-4, .vc_col-lg-5, .vc_col-lg-6, .vc_col-lg-7, .vc_col-lg-8, .vc_col-lg-9, .vc_col-lg-10, .vc_col-lg-11, .vc_col-lg-12 {
			float: right;
		}
	}
}

/* Visual Composer Buttons */
.vc_row {
    &.bg-width50 {
        .upb_row_bg {
            width: 50% !important;
            min-width: 50% !important;
            @media #{$screen-medium} {
                display: none;
            }
        }
    }
    &.bg-width50-right {
        .upb_row_bg {
            margin-#{$left}: 50%;
            position: absolute !important;
        }
    }
    &.bg-ml50 {
        .upb_row_bg {
            margin-#{$left}: 50%;
        }
    }
    .vc_column_container > .wpb_wrapper.vc_column-inner {
        padding: 0;
    }
}

body {
    .btn-inverse {
        @include button-variant(#fff, #333, #2d2d2d);
    }

    .btn {
        display: inline-block;
        margin: 0;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857;
        border-radius: $border-base;
    }
    .cart-actions .button,
    .checkout-button,
    #place_order,
    .btn-lg,
    .btn-group-lg > .btn,
    input.submit.btn-lg, input.btn.btn-lg[type="submit"], input.button.btn-lg[type="submit"],
    .return-to-shop .button {
        padding: 10px 16px;
        font-size: 18px;
        line-height: 1.33;
        border-radius: $border-medium;
    }
    .btn-sm,
    .btn-group-sm > .btn  {
        padding: 5px 10px;
        font-size: 12px;
        line-height: 1.5;
        border-radius: $border-thin;
    }
    .btn-md,
    .btn-group-md > .btn  {
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857;
        border-radius: $border-base;
    }
    .btn-xs,
    .btn-group-xs > .btn  {
        padding: 1px 5px;
        font-size: 12px;
        line-height: 1.5;
        border-radius: $border-thin;
    }
    .btn-block {
        display: block;
        width: 100%;
        padding-right: 0;
        padding-left: 0;
    }

    .vc_btn3.vc_btn3-color-grey,
    .vc_btn3.vc_btn3-color-grey.vc_btn3-style-modern,
    .vc_btn3.vc_btn3-color-grey.vc_btn3-style-flat,
    .vc_btn3.vc_btn3-color-grey.vc_btn3-style-3d,
    .vc_btn3.vc_btn3-color-grey.vc_btn3-style-outline {
        border-color: #ccc;
        color: #666;
        background-color: transparent;
    }

    .vc_btn3-container.vc_btn3-inline {
        vertical-align: baseline;
    }

    .vc_btn3.vc_btn3-size-lg {
        border-radius: 6px;
    }

    .vc_btn3.vc_btn3-icon-left,
    .vc_btn3.vc_btn3-icon-right {
        .vc_btn3-icon {
            display: inline;
            position: static;
            font-size: inherit;
            line-height: inherit;
            height: auto;
            @include transform(none);
        }
    }

    .vc_general.vc_btn3 .vc_btn3-placeholder {
        display: none;
    }

    .btn.btn-lg,
    .vc_btn3.vc_btn3-size-lg {
        padding: 10px 16px;
        font-size: 18px;
        line-height: 1.3333333;

        &.vc_btn3-icon-left,
        &.vc_btn3-icon-right {
            &,
            &:not(.vc_btn3-o-empty) {
                padding-left: 16px;
                padding-right: 16px;
            }
        }
        &.vc_btn3-icon-left:not(.vc_btn3-o-empty) .vc_btn3-icon {
            padding-right: 7px;
        }
        &.vc_btn3-icon-right:not(.vc_btn3-o-empty) .vc_btn3-icon {
            padding-left: 7px;
        }
        &.vc_btn3-style-outline {
            padding: 8px 14px;
            border-width: 3px;
            &.vc_btn3-icon-left,
            &.vc_btn3-icon-right {
                padding-left: 14px;
                padding-right: 14px;
            }
        }
        &.vc_btn3-style-3d {
            padding: 8px 16px 7px;
            margin-bottom: 5px;
        }
    }

    .vc_btn3.vc_btn3-size-md {
        border-radius: 4px;
    }

    .btn,
    .vc_btn3.vc_btn3-size-md {
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;

        &.vc_btn3-icon-left,
        &.vc_btn3-icon-right {
            &,
            &:not(.vc_btn3-o-empty) {
                padding-left: 12px;
                padding-right: 12px;
            }
        }
        &.vc_btn3-icon-left:not(.vc_btn3-o-empty) .vc_btn3-icon {
            padding-right: 5px;
        }
        &.vc_btn3-icon-right:not(.vc_btn3-o-empty) .vc_btn3-icon {
            padding-left: 5px;
        }
        &.vc_btn3-style-outline {
            padding: 4px 10px;
            border-width: 3px;
            &.vc_btn3-icon-left,
            &.vc_btn3-icon-right {
                padding-left: 10px;
                padding-right: 10px;
            }
        }
        &.vc_btn3-style-3d {
            padding: 4px 12px 3px;
            margin-bottom: 5px;
        }
    }

    .vc_btn3.vc_btn3-size-sm {
        border-radius: 3px;
    }

    .btn.btn-sm,
    .vc_btn3.vc_btn3-size-sm {
        padding: 5px 10px;
        font-size: 12px;
        line-height: 1.5;

        &.vc_btn3-icon-left,
        &.vc_btn3-icon-right {
            &,
            &:not(.vc_btn3-o-empty) {
                padding-left: 10px;
                padding-right: 10px;
            }
        }
        &.vc_btn3-icon-left:not(.vc_btn3-o-empty) .vc_btn3-icon {
            padding-right: 3px;
        }
        &.vc_btn3-icon-right:not(.vc_btn3-o-empty) .vc_btn3-icon {
            padding-left: 3px;
        }
        &.vc_btn3-style-outline {
            padding: 4px 9px;
            border-width: 2px;
            &.vc_btn3-icon-left,
            &.vc_btn3-icon-right {
                padding-left: 9px;
                padding-right: 9px;
            }
        }
        &.vc_btn3-style-3d {
            padding: 4px 10px 2px;
            margin-bottom: 2px;
        }
    }

    .vc_btn3.vc_btn3-size-xs {
        border-radius: 2px;
    }

    .btn.btn-xs,
    .vc_btn3.vc_btn3-size-xs {
        padding: 1px 5px;
        font-size: 12px;
        line-height: 1.5;

        &.vc_btn3-icon-left,
        &.vc_btn3-icon-right {
            &,
            &:not(.vc_btn3-o-empty) {
                padding-left: 5px;
                padding-right: 5px;
            }
        }
        &.vc_btn3-icon-left:not(.vc_btn3-o-empty) .vc_btn3-icon {
            padding-right: 3px;
        }
        &.vc_btn3-icon-right:not(.vc_btn3-o-empty) .vc_btn3-icon {
            padding-left: 3px;
        }
        &.vc_btn3-style-outline {
            padding: 1px 5px;
            border-width: 1px;
        }
        &.vc_btn3-style-3d {
            line-height: 1.42857143;
            padding: 0px 5px;
            margin-bottom: 1px;
        }
    }

    .vc_btn3.vc_label {
        display: inline;
        cursor: inherit;

        &.vc_btn3-size-lg,
        &.vc_btn3-size-md,
        &.vc_btn3-size-sm,
        &.vc_btn3-size-xs {
            padding: .2em .6em .3em;
            line-height: 1;
            text-align: center;
            vertical-align: baseline;
        }

        &.vc_btn3-shape-rounded {
            border-radius: .25em;
        }

        &.vc_btn3-size-lg {
            font-size: 1em;

            &.vc_btn3-style-outline {
                border-width: 2px;
            }
        }

        &.vc_btn3-size-md {
            font-size: .75em;

            &.vc_btn3-style-outline {
                border-width: 1px;
            }
        }

        &.vc_btn3-size-sm {
            font-size: .7em;
        }

        &.vc_btn3-size-xs {
            font-size: .6em;
        }
    }

    .vc_btn3.vc_btn3-shape-square {
        border-radius: 0 !important;
    }

    .vc_btn3.vc_btn3-shape-round {
        border-radius: 2em !important;
    }

    @import "buttons";
}

[dir="rtl"] .vc_btn3-container{
	&.vc_btn3-left{ text-align:right;}
	&.vc_btn3-right{ text-align:left;}
}

/* Visual Composer Alert */
body {
    .wpb_alert {
        padding: 15px;
        .messagebox_text {
            background-image: none;
            padding-#{$left}: 0;
        }
    }
    .vc_message_box-icon > * {
        @include transform(translate(-50%, -50%));
    }
}
.vc_message_box .alert-link {
    font-weight: bold;
}

/* Visual Composer Slider */
body {
    .wpb_gallery .wpb_flexslider .flex-control-nav {
        bottom: -50px;
    }
}

/* Featured Box */
.wpb_text_column {
    p {
        line-height: inherit;
    }
    &.featured {
        font-size: 1.6em;
        line-height: 1.5em;
    }
    &.short {
        margin-bottom: 0;
    }
    &.tall {
        margin-bottom: 20px;
    }
    &.taller {
        margin-bottom: 40px;
    }
    .alternative-font {
        display: inline-block;
        margin-top: -15px;
        position: relative;
        top: 3px;
        margin-bottom: -6px;
    }
}

/* Visual Composer Single Image */
div.wpb_single_image {
    .vc_single_image-wrapper {
        display: inline-block;
        max-width: 100%;
        &.vc_box_rounded,
        &.vc_box_shadow {
            border-radius: $border-base;

            img {
                border-radius: $border-base;
            }
        }
        &.vc_box_border,
        &.vc_box_outline,
        &.vc_box_shadow_border {
            border-radius: $border-base;
            padding: 4px;

            img {
                border-radius: $border-base;
                border-width: 0;
            }
        }
        &.vc_box_border_circle,
        &.vc_box_outline_circle,
        &.vc_box_shadow_border_circle {
            padding: 4px;

            img {
                border-width: 0;
            }
        }
        &.vc_box_shadow_border,
        &.vc_box_shadow_border_circle {
            background: if-light(#fff, $color-dark-3);
        }
        &.vc_box_shadow_3d {

            img {
                border-radius: $border-base;
                margin-bottom: -4px;
            }
        }
        &.vc_box_outline.vc_box_border_grey,
        &.vc_box_outline_circle.vc_box_border_grey {
            background: if-light(#fff, $color-dark-3);
            border-color: if-light(#ddd, $color-dark-3);
        }
    }

    .porto-vc-zoom {
        display: inline-block;
        position: relative;
        max-width: 100%;


        &.porto-vc-zoom-hover-icon {
            position: relative;
            img {
                position: relative;
                z-index: 1;
            }
            &:before {
                @include transition(all 0.2s);
                background: rgba(0, 0, 0, 0.65);
                border-radius: $border-base;
                content: "";
                display: block;
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                bottom: 0;
                right: 0;
                opacity: 0;
                z-index: 2;
            }
            &:after {
                @include transition(all 0.2s);
                font-family: "FontAwesome";
                color: #FFF;
                content: $fa-var-search-plus;
                font-size: 30px;
                height: 30px;
                position: absolute;
                top: 30%;
                margin-top: -15px;
                display: block;
                text-align: center;
                width: 100%;
                opacity: 0;
                z-index: 3;
            }
            &:hover {
                &:before {
                    opacity: 1;
                }
                &:after {
                    top: 50%;
                    opacity: 1;
                }
            }
        }

        .zoom-icon {
            color: #fff;
            border-radius: 100%;
            width: 30px;
            height: 30px;
            position: absolute;
            padding: 0;
            line-height: 28px;
            display: block;
            bottom: 8px;
            #{$right}: 8px;
            text-align: center;

            &:before {
                font-family: "FontAwesome";
                content: $fa-var-search;
            }
        }
    }

    .vc_figure {
        max-width: 100%;
        .vc_single_image-wrapper {
            margin-bottom: 0;
        }
        .vc_figure-caption {
            margin-top: .5em;
        }
    }

    &.vc_box_border,
    &.vc_box_outline,
    &.vc_box_shadow_border {
        border-radius: $border-base;
        padding: 4px;

        img {
            border-radius: $border-base;
            border-width: 0;
        }
    }
}
.vc_single_image-wrapper {
    &.vc_box_border,
    &.vc_box_outline,
    &.vc_box_shadow_border,
    &.vc_box_border_circle,
    &.vc_box_outline_circle,
    &.vc_box_shadow_border_circle {
        .porto-carousel & {
            margin: 2px;
        }
    }
}

/* Visual Composer Flickr */
.wpb_content_element {
    &.wpb_flickr_widget {
        margin-bottom: 15px;
    }
}

/* Visual Composer Separator */
.vc_separator h4 {
    margin-top: 0;
    font-size: 1.1429em;
    font-weight: 700;
    text-transform: uppercase;
}

.vc_text_separator {
    margin-bottom: 25px;
    border: none;
    h1, h2, h3, h4, h5, h6, p, div {
        margin-top: 0;
        margin-bottom: 0;
    }
    div {
        top: auto;
        background-color: transparent;
    }
    .vc_icon_element.vc_icon_element-outer .vc_icon_element-inner {
        padding: 0;
    }
    .vc_icon_element:not(.vc_icon_element-have-style) + h4 {
        margin-#{$left}: -0.5em;
        padding-#{$right}: 1em;
    }
}

.vc_separator.vc_separator_align_left {
    h1, h2 {
        padding: side-values(0 15px 0 0);
    }
    h3, h4 {
        padding: side-values(0 12px 0 0);
    }
    h5, h6, p, div {
        padding: side-values(0 10px 0 0);
    }
}

.vc_separator.vc_separator_align_right {
    h1, h2 {
        padding: side-values(0 0 0 15px);
    }
    h3, h4 {
        padding: side-values(0 0 0 12px);
    }
    h5, h6, p, div {
        padding: side-values(0 0 0 10px);
    }
}

.vc_separator.vc_separator_align_center {
    h1, h2 {
        padding: side-values(0 15px);
    }
    h3, h4 {
        padding: side-values(0 12px);
    }
    h5, h6, p, div {
        padding: side-values(0 10px);
    }
}

.vc_separator .vc_sep_holder {
    &.vc_sep_holder_l {
        .vc_sep_line {
            border: none;
            @include if-dark {
                @include background-image(linear-gradient($left, transparent, rgba(255, 255, 255, 0.15)));
            }
            @include if-light {
                @include background-image(linear-gradient($left, transparent, rgba(0, 0, 0, 0.15)));
            }
        }
    }
    &.vc_sep_holder_r {
        .vc_sep_line {
            border: none;
            @include if-dark {
                @include background-image(linear-gradient($right, transparent, rgba(255, 255, 255, 0.15)));
            }
            @include if-light {
                @include background-image(linear-gradient($right, transparent, rgba(0, 0, 0, 0.15)));
            }
        }
    }
    &.vc_sep_holder_l,
    &.vc_sep_holder_r {
        .vc_sep_line {
            &.solid {
                background: if-light(rgba(0, 0, 0, 0.15), rgba(255, 255, 255, 0.15));
            }
            &.dashed {
                background: none;
                position: relative;
                &:after {
                    border: if-light(1px dashed rgba(0, 0, 0, 0.15), 1px dashed rgba(255, 255, 255, 0.15));
                    content: "";
                    display: block;
                    height: 0;
                    position: absolute;
                    top: 50%;
                    margin-top: -1px;
                    width: 100%;
                }
            }
            &.pattern {
                background: none;
                position: relative;
                &:after {
                    background: transparent url(../images/patterns/worn_dots.png) repeat 0 0;
                    content: "";
                    display: block;
                    height: 15px;
                    position: absolute;
                    top: 50%;
                    margin-top: -7px;
                    width: 100%;
                }
                &.pattern-2 {
                    &:after {
                        background-image: url(../images/patterns/az_subtle.png);
                    }
                }
            }
        }
    }
}

/* Visual Composer Heading */
.vc_custom_heading {
    &.heading-m-none,
    &.m-b-none {
        > * {
            margin-bottom: 0;
        }
    }
    &.big {
        h1 {
            font-size: 4.2em;
            line-height: 54px;
        }
    }
    &.short {
        h1 {
            margin-bottom: 15px;
        }
        h2 {
            margin-bottom: 15px;
        }
        h3,
        h4,
        h5,
        h6 {
            margin-bottom: 9px;
        }
    }
    &.shorter {
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            margin-bottom: 0;
        }
    }
    &.tall {
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            margin-bottom: 33px;
        }
    }
    &.taller {
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            margin-bottom: 44px;
        }
    }
    &.spaced {
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            margin-top: 33px;
        }
    }
    &.more-spaced {
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            margin-top: 44px;
        }
    }
}

/* Visual Composer Message Box */

/* Visual Composer Call to Action */
.vc_general.vc_cta3 {
    padding: 25px;
}
.vc_general.vc_cta3.vc_cta3-shape-rounded {
    border-radius: 10px;
}

.vc_general.vc_cta3 h2 {
    font-size: 1.8em;
    font-weight: $font-weight-normal;
    letter-spacing: normal;
    line-height: 30px;
}
.vc_general.vc_cta3 h2,
.vc_general.vc_cta3 h4 {
    margin: 0 0 9px;
    color: $color-dark;
}
.vc_general.vc_cta3 p {
    font-size: 1.2em;
}
.vc_general.vc_cta3.vc_cta3-style-flat .vc_cta3-content-header h2,
.vc_general.vc_cta3.vc_cta3-style-flat .vc_cta3-content-header h4 {
    color: $color-dark;
}

.vc_general.vc_cta3.vc_cta3-style-custom {
    border-top: if-light(1px solid #dfdfdf, 1px solid $color-dark-4);
    border-bottom: if-light(1px solid #dfdfdf, 1px solid $color-dark-4);
    border-left: if-light(1px solid #ececec, 1px solid $color-dark-3);
    border-right: if-light(1px solid #ececec, 1px solid $color-dark-3);
}

@media (min-width: 768px) {
    .vc_general.vc_cta3.vc_cta3-actions-right .vc_cta3-content {
        width: 70%;
        padding-right: 25px;
    }
    .vc_general.vc_cta3.vc_cta3-actions-right .vc_cta3-actions {
        width: 20%;
    }
    .vc_general.vc_cta3.vc_cta3-actions-left .vc_cta3-content {
        width: 70%;
        padding-left: 25px;
    }
    .vc_general.vc_cta3.vc_cta3-actions-left .vc_cta3-actions {
        width: 20%;
    }
}

@media #{$screen-medium} {
    .vc_general.vc_cta3.vc_cta3-actions-right .vc_cta3-actions {
        padding-top: 20px;
        > div:last-child {
            margin-bottom: 0;
        }
    }
    .vc_general.vc_cta3.vc_cta3-actions-left .vc_cta3-actions {
        padding-bottom: 20px;
        > div:last-child {
            margin-bottom: 0;
        }
    }
}

/* Visual Composer Progress Bar */
.vc_progress_bar .vc_single_bar.progress {
    &.bar_blue {
        .vc_bar {
            background-color: #0074CC;
        }
    }
    &.bar_turquoise {
        .vc_bar {
            background-color: #49afcd;
        }
    }
    &.bar_green {
        .vc_bar {
            background-color: #5bb75b;
        }
    }
    &.bar_orange {
        .vc_bar {
            background-color: #faa732;
        }
    }
    &.bar_red {
        .vc_bar {
            background-color: #da4f49;
        }
    }
    &.bar_black {
        .vc_bar {
            background-color: #414141;
        }
    }
}

/* Visual Composer Others */
.overlay-show {
    margin-bottom: 30px;
}

.tab-pane,
.panel-body {
    > *:last-child {
        margin-bottom: 0;
    }
}


/* Ultimate Addon Info Box */
.wpb_wrapper {
    .top-icon {
        .ult-just-icon-wrapper {
            margin-bottom: 15px;
        }
        .aio-icon-header h3.aio-icon-title {
            margin-top: 0;
            margin-bottom: 10px;
        }
    }
    .aio-icon-header h3.aio-icon-title {
        font-size: 1.3em;
        font-weight: 400;
        letter-spacing: normal;
        text-transform: none;
    }
    h3.aio-icon-title {
        small {
            font-size: 75%;
            display: block;
            margin: 2px 0 4px;
        }
    }
    .aio-icon-read {
        margin-top: 10px;
    }
}

.info-box-small,
.info-box-small-wrap {
    .aio-icon-box {
        margin-bottom: 15px;
    }
    .aio-icon-header + .aio-icon-description {
        margin-top: 5px;
    }
}
.aio-icon-box {
    margin-bottom: 30px;
    .fa {
        font-family: "FontAwesome" !important;
    }
}
.aio-icon-component {
    margin-bottom: 0;
}
.aio-icon-component.text-left {
    .aio-icon-box.top-icon,
    .aio-icon-box.bottom-icon {
        .align-icon,
        .aio-icon-header,
        .aio-icon-img,
        .aio-icon-description {
            text-align: left !important;
        }
    }
}
.aio-icon-component.text-right {
    .aio-icon-box.top-icon,
    .aio-icon-box.bottom-icon {
        .align-icon,
        .aio-icon-header,
        .aio-icon-img,
        .aio-icon-description {
            text-align: right !important;
        }
    }
}
body {
    .left-icon .aio-icon-left .aio-icon,
    .left-icon .aio-icon-left .aio-icon-img {
        @if $rtl == 1 {
            margin-left: 15px;
            margin-right: auto;
        }
    }
    .default-icon .aio-icon-default .aio-icon,
    .default-icon .aio-icon-default .aio-icon-img {
        @if $rtl == 1 {
            margin-left: 15px;
            margin-right: auto;
        }
    }
}

/* Ultimate Addon Modal */
h3.ult_modal-title {
    text-transform: none;
}

/* Ultimate Addon Advanced Carousel */
/* add default style because removed in the latest version */
/*Slider Buttons Customization*/
.ult-carousel-wrapper button.circle-border,
.ult-carousel-wrapper button.circle-bg {
    border-radius: 100%;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5em;
}
.ult-carousel-wrapper button.square-border,
.ult-carousel-wrapper button.square-bg {
    border-radius: 0px !important;
}
.ult-carousel-wrapper button.slick-disabled {
    opacity: 0.5;
    cursor: auto;
}
/*Slider Basics*/
.ult-carousel-wrapper,
.ult-carousel-wrapper * {
    -webkit-box-sizing: border-box;
    moz-box-sizing: border-box;
    box-sizing: border-box;
}
.ult-carousel-wrapper {
    position: relative;
    margin-bottom: 35px;

    .wpb_content_element {
        margin-bottom: 0;
    }
}
/*Horizontal Arrows*/
.ult-carousel-wrapper.ult_horizontal .slick-prev,
.ult-carousel-wrapper.ult_horizontal .slick-next,
.ult-carousel-wrapper.ult_full_width .slick-prev,
.ult-carousel-wrapper.ult_full_width .slick-next {
    position: absolute;
    top: 50%;
    margin: 0;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.ult-carousel-wrapper.ult_full_width .slick-next {
    right: 20px;
}
.ult-carousel-wrapper.ult_full_width .slick-prev {
    left: 20px;
}
/*Horizontal Navigation Dots*/
.ult-carousel-wrapper.ult_horizontal ul.slick-dots,
.ult-carousel-wrapper.ult_full_width ul.slick-dots {
    position: absolute;
    bottom: -35px;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;
    z-index: 99;
}
.ult-carousel-wrapper.ult_full_width .slick-slide.slick-active {
    z-index: 9;
}
/*Vertical Arrows*/
.ult-carousel-wrapper.ult_vertical {
    padding: 50px 0;
}
.ult-carousel-wrapper.ult_vertical .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.ult-carousel-wrapper.ult_vertical button.slick-prev,
.ult-carousel-wrapper.ult_vertical button.slick-next {
    left: 50%;
    margin: 0;
    -webkit-transform: translateX(-50%) rotate(90deg);
    -moz-transform: translateX(-50%) rotate(90deg);
    -o-transform: translateX(-50%) rotate(90deg);
    -ms-transform: translateX(-50%) rotate(90deg);
    transform: translateX(-50%) rotate(90deg);
}
.ult-carousel-wrapper.ult_vertical button.slick-prev {
    top: -45px;
}
.ult-carousel-wrapper.ult_vertical button.slick-next {
    top: auto;
    bottom: -40px;
}
/*Vertical Navigation Dots*/
.ult-carousel-wrapper.ult_vertical ul.slick-dots {
    position: absolute;
    left: -25px;
    top: 50%;
    list-style: none;
    display: table !important;
    text-align: center;
    padding: 0;
    margin: 0;
    height: auto;
    float: none;
    width: 25px;
    vertical-align: middle;
    z-index: 99;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.ult-item-wrap.slick-slide.animated {
    opacity: 1 !important;
}
body {
    .ult-carousel-wrapper {
        padding-bottom: 0;
    }

    .slick-dots {
        @include transform(translateY(0));
    }

    .ult-carousel-wrapper.ult_horizontal ul.slick-dots,
    .ult-carousel-wrapper.ult_full_width ul.slick-dots,
    .slick-dots {
        position: relative;
        bottom: -5px;
        margin-top: 10px;
        li {
            margin: 0 2px;
        }
    }

    .sidebar-content {
        .ult-carousel-wrapper.ult_horizontal ul.slick-dots,
        .ult-carousel-wrapper.ult_full_width ul.slick-dots,
        .slick-dots {
            margin-top: 3px;
        }
    }

    .sidebar-content {
        .ult-carousel-wrapper {
            margin-bottom: 0;
        }
    }

    .slick-slide img {
        display: inline;
    }
}

.ult-carousel-wrapper > div:first-child {
    position: relative; display: block; margin: 0; padding: 0; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -ms-touch-action: none; -webkit-tap-highlight-color: transparent;

    > .ult-item-wrap {
        display: none;

        &:first-child {
            display: block;
            position: relative;
            min-height: 200px;

            > * {
                opacity: 0;
            }
        }
    }
    &.slick-initialized {
        > .ult-item-wrap {
            display: block;

            &:first-child {
                position: static;
                min-height: 0;

                &:before {
                    display: none;
                }

                > * {
                    opacity: 1;
                }
            }
        }
    }
}

/* Ultimate Addon Google Map */
.ultimate_google_map {
    min-width: 0 !important;
    width: 100% !important;;
    position: relative !important;
}

.gmap-border {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 4px;
    overflow: hidden;
}

.gmap-rounded {
    &,
    .ultimate_google_map {
        border-radius: $border-medium;
        overflow: hidden;
    }
}

/* Ultimate Addon Others */
.uvc-type-wrap {
    .ultimate-typed-main,
    .ticker {
        font-weight: bold;
    }
}

.upb_row_bg {
    min-height: 0 !important;
}

.video-cover {
    overflow: hidden !important;
    .upb_video-bg {
        left: 0 !important;
    }
    .upb_video-src {
        position: absolute;
        left: 49% !important;
        top: 49% !important;
        @include transform(translate(-49%, -50%));

    }
}

.upb_bg_overlay,
.upb_bg_overlay_pattern {
    -webkit-backface-visibility: hidden;
    -webkit-transform: translate3d(0px, 0px, 0px);
}

/* Porto Grid Container */
.porto-grid-container {
    position: relative;

    .porto-grid-item {
        float: $left;
        max-width: 100%;

        > .wpb_single_image {
            margin-bottom: 0;

            .vc_single_image-wrapper:hover {
                background: #000;
                @include transition(opacity 0.35s ease 0s);
            }

            a {
                display: block;
            }

            .vc_single_image-wrapper {
                width: 100%;
                display: block;
            }

            img {
                width: 100%;
                @include transition(opacity 0.35s ease 0s);

                &:hover {
                    opacity: .9;
                }
            }
        }
    }
}

/* Porto Links */

.porto-links-block {
    border: 1px solid $widget-border-color;
    border-radius: $border-thick;
    background: $widget-bg-color;

    @media #{$screen-large} {
        font-size: 13px;
    }

    .links-title {
        color: if-light(#465157, $color-white);
        border-radius: $border-thick $border-thick 0 0;
        background: $widget-title-bg-color;
        border-bottom: 1px solid $widget-border-color;
        font-size: 1em;
        font-weight: $font-weight-bold;
        line-height: 14px;
        padding: 15px 20px;
        margin: 0;
        text-transform: uppercase;
        position: relative;
        letter-spacing: 0.12px;
        @include transition($transition);

        @media #{$screen-large} {
            padding: 8px 12px 6px;
        }

        i {
            margin-#{$right}: 5px;
            &.icon-image {
                display: inline-block;
                max-width: 20px;
            }
        }
    }

    .links-content {
        ul {
            list-style: none;
            padding: 5px 0;
            margin: 0;
        }
    }

    li.porto-links-item {
        display: block;

        &:first-child {
            > a,
            > span {
                border-top-width: 0;
            }
        }

        > a,
        > span {
            display: block;
            font-size: 1em;
            line-height: 18px;
            color: #465157 !important;
            letter-spacing: 0.10px;
			padding: 11px 6px 10px;
            margin: 0 10px -1px;
            border-top: if-light(1px solid #ddd, 1px solid lighten($dark-bg, 12%));
            text-decoration: none;

            @media #{$screen-large} {
                padding: 7px 5px;
                line-height: 19px;
                margin: 0 7px -1px;
            }
        }

        i {
            margin-#{$right}: 12px;
			font-size: 20px;
			vertical-align: middle;
            &.icon-image {
                display: inline-block;
                max-width: 20px;
            }
        }
    }
}

.ultimate-vticker.ticker ul li,
.ultimate-vticker.ticker-down ul li {
    text-align: center !important;
}

/* Ultimate Addons Counter */
.stats-block .stats-number,
div.stats-desc > div.counter_prefix,
div.stats-desc > div.counter_suffix {
    font-size: 50px;
    font-weight: $font-weight-bold;
    line-height: 1;
}
.aio-icon.none {
    font-size: 35px;
    line-height: 1;
}
.stats-block {
    .aio-icon.none {
        margin-bottom: 5px;
    }
    .stats-text {
        font-weight: 100;
        font-size: 20px;
        line-height: 1;
    }
    &.counter-single-line {
        text-align: center;

        > div {
            display: inline-block;
            vertical-align: baseline;
            text-align: center;
        }
    }
    &.counter-with-border {
        border-top: if-light(1px solid #dfdfdf, 1px solid $color-dark-4);
        border-bottom: if-light(1px solid #dfdfdf, 1px solid $color-dark-4);
        border-#{$left}: if-light(1px solid #ececec, 1px solid $color-dark-3);
        border-#{$right}: if-light(1px solid #ececec, 1px solid $color-dark-3);
        border-radius: $border-medium;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.04);
        padding: 25px;
    }
    &.counter-inline {
        margin-bottom: 20px;
        .aio-icon-top,
        .stats-desc {
            text-align: $left;
        }
        .stats-number,
        div.stats-desc > div.counter_prefix,
        div.stats-desc > div.counter_suffix {
            font-size: 14px;
        }
        div.counter_prefix,
        div.counter_suffix {
            font-weight: $font-weight-normal;
        }
    }
}

/* Google Map */
.map_info_text {
    p {
        margin-bottom: 10px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

/* Nivo Slider */
.wpb_gallery .theme-default {
    .nivoSlider {
        box-shadow: none;
    }
    .nivo-controlNav {
        padding-top: 20px;
    }
}
.wpb_gallery {
    &.nav-right {
        .nivo-controlNav {
            float: $right;
        }
    }
    &.nav-left {
        .nivo-controlNav {
            float: $left;
        }
    }
}