// Porto Config Scss Theme File


// Created at 2017-05-13 10:55:03









//** Padding between columns. Gets divided in half for the left and right.


$grid-gutter-width:         30px !default;


// Large screen / wide screen


$container-large-desktop: (1260px) !default;


$screen-large: "(max-width: 1289px)";




// Border radius




     $border-xs:     1px;


    $border-small:  2px;


    $border-thin:   3px;


    $border-base:   4px;


    $border-normal: 5px;


    $border-medium: 6px;


    $border-thick:  7px;


    $border-strong: 8px;


    $border-large:  16px;


    $progress-border: 25px;


    $feature-icon-border: 35px;


    $thumb-link-border: 25px;




// Search Border Radius


	
	$searchform-border: 20px;

    $searchform-border-large: 25px;

	$searchform-extra-width: 0px;
	 
	@mixin searchform-select-padding() {
		padding: side-values(0 15px 0 10px);
	}

	@mixin searchform-input-padding() {
		padding: side-values(0 15px 0 20px);
	}

	@mixin searchform-button-padding() {
		padding: side-values(0 20px 0 13px);
	}







    //** Padding around the thumbnail image


    $thumbnail-padding:      4px !default;


    //** Thumbnail border color


    $thumbnail-border:       #ddd !default;


    $thumbnail-border-width: 1px;


    $thumbnail-slide-width:  99.5%;


    $product-image-padding:  0.2381em;


    $product-image-border-width: 1px;


    $widget-product-image-padding: 3px;


    $image-slider-padding: 3px;







$dark: 0;







$color-dark: #1d2127;




$color-dark-inverse: #FFF;


$color-dark-1: $color-dark;


$color-dark-2: lighten($color-dark-1, 2%);


$color-dark-3: lighten($color-dark-1, 5%);


$color-dark-4: lighten($color-dark-1, 8%);


$color-dark-5: lighten($color-dark-1, 3%);


$color-darken-1: darken($color-dark-1, 2%);





$dark-bg: $color-dark;


$dark-default-text: #808697;










    $color-price: #444;





    $widget-bg-color: #fbfbfb;


    $widget-title-bg-color: #f5f5f5;


    $widget-border-color: #ddd;





    $input-border-color: #ccc;


    $image-border-color: #ddd;


    $color-widget-title: #313131;





    $price-slide-bg-color: #eee;


    $panel-default-border: #ddd !default;








