
.zoom img{
   filter: none;
   -webkit-filter: blur(0px);
   -moz-filter: blur(0px);
   -ms-filter: blur(0px);
   filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='0');
   image-rendering: optimizeSpeed;             /*                     */
   image-rendering: -moz-crisp-edges;          /* Firefox             */
   image-rendering: -o-crisp-edges;            /* Opera               */
   image-rendering: -webkit-optimize-contrast; /* Chrome (and Safari) */
   image-rendering: optimize-contrast;         /* CSS3 Proposed       */
   -ms-interpolation-mode: nearest-neighbor;   /* IE8+                */
}
.zoom, .zoomImg img{
   transition:all 0.5s ease-in-out !important;
   -webkit-transition:all 0.5s ease-in-out;
   -moz-transition:all 0.5s ease-in-out;
   -o-transition:all 0.5s ease-in-out;
   transform: rotate(0deg) scale(1) skew(0deg) translate(0px) !important;
   -webkit-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
   -moz-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
   -o-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
   -ms-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
   filter: none;
   -webkit-filter: blur(0px);
   -moz-filter: blur(0px);
   -ms-filter: blur(0px);
   filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='0');
   image-rendering: optimizeSpeed;             /*                     */
   image-rendering: -moz-crisp-edges;          /* Firefox             */
   image-rendering: -o-crisp-edges;            /* Opera               */
   image-rendering: -webkit-optimize-contrast; /* Chrome (and Safari) */
   image-rendering: optimize-contrast;         /* CSS3 Proposed       */
   -ms-interpolation-mode: nearest-neighbor;   /* IE8+                */
}
.zoom:hover,.zoom:focus,.zoomImg img:hover{
   transform: rotate(0deg) scale(1.08) skew(0deg) translate(0px) !important;
   -webkit-transform: rotate(0deg) scale(1.08) skew(0deg) translate(0px);
   -moz-transform: rotate(0deg) scale(1.08) skew(0deg) translate(0px);
   -o-transform: rotate(0deg) scale(1.08) skew(0deg) translate(0px);
   -ms-transform: rotate(0deg) scale(1.08) skew(0deg) translate(0px);
   filter: none;
   -webkit-filter: blur(0px);
   -moz-filter: blur(0px);
   -ms-filter: blur(0px);
   filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='0');
   image-rendering: optimizeSpeed;             /*                     */
   image-rendering: -moz-crisp-edges;          /* Firefox             */
   image-rendering: -o-crisp-edges;            /* Opera               */
   image-rendering: -webkit-optimize-contrast; /* Chrome (and Safari) */
   image-rendering: optimize-contrast;         /* CSS3 Proposed       */
   -ms-interpolation-mode: nearest-neighbor;   /* IE8+                */
}
.sombra{
 -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.16);
   -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.16);
   -o-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.16);
   -ms-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.16);
   box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.16);
}
.sombraTexto{
 text-shadow:
 -1px -1px 2px rgba(255, 255, 255, 0.9),
 1px 1px 2px rgba(255, 255, 255, 0.9),
 2px 2px 6px rgba(0, 0, 0, 0.8),
 0px 0px 10px rgba(0, 0, 0, 0.9);
}
.sombraTexto2{
 -webkit-text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.5) !important;
   -moz-text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.5) !important;
   -ms-text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.5) !important;
   -o-text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.5) !important;
   text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.5) !important;
}


.input-group-icon .input-group-addon + input.form-control, .input-search .input-group-addon + input.form-control {
   transition:all 0.8s ease-in-out !important;
   -webkit-transition:all 0.8s ease-in-out;
   -moz-transition:all 0.8s ease-in-out;
   -o-transition:all 0.8s ease-in-out;
}

/*.product_list_widget li,
.products .product, */
.img-thumbnail,
.products .product .product-image,
.img-thumbnail,
.woocommerce-main-image{
   border: 1px solid transparent;
   transition: all 0.3s ease-in-out !important;
   -webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
   transform: rotate(0deg) scale(1) skew(0deg) translate(0px) !important;
   -webkit-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
   -moz-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
   -o-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
   -ms-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
   filter: none;
   -webkit-filter: blur(0px);
   -moz-filter: blur(0px);
   -ms-filter: blur(0px);
   filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='0');
   image-rendering: optimizeSpeed;             /*                     */
   image-rendering: -moz-crisp-edges;          /* Firefox             */
   image-rendering: -o-crisp-edges;            /* Opera               */
   image-rendering: -webkit-optimize-contrast; /* Chrome (and Safari) */
   image-rendering: optimize-contrast;         /* CSS3 Proposed       */
   -ms-interpolation-mode: nearest-neighbor;   /* IE8+                */
}
/*.product_list_widget li:hover,
.product_list_widget li:focus, */
.products .product:hover,
.products .product:focus,
.img-thumbnail:hover, .img-thumbnail:hover img, .img-thumbnail img:hover,
.img-thumbnail:focus,
/*.products .product .product-image:hover,
.img-thumbnail:hover,*/
.woocommerce-main-image:hover{
   /* border: 1px solid #DDD; */
   /*
   transform: rotate(0deg) scale(1.02) skew(0deg) translate(0px) !important;
   -webkit-transform: rotate(0deg) scale(1.02) skew(0deg) translate(0px);
   -moz-transform: rotate(0deg) scale(1.02) skew(0deg) translate(0px);
   -o-transform: rotate(0deg) scale(1.02) skew(0deg) translate(0px);
   -ms-transform: rotate(0deg) scale(1.02) skew(0deg) translate(0px);
   filter: none;
   -webkit-filter: blur(0px);
   -moz-filter: blur(0px);
   -ms-filter: blur(0px);
   filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='0');
   image-rendering: optimizeSpeed;
   image-rendering: -moz-crisp-edges;
   image-rendering: -o-crisp-edges;
   image-rendering: -webkit-optimize-contrast;
   image-rendering: optimize-contrast;
   -ms-interpolation-mode: nearest-neighbor;
   */
}
.products .product .product-image img,
.img-thumbnail img,
.woocommerce-main-image{
   filter: none;
   -webkit-filter: blur(0px);
   -moz-filter: blur(0px);
   -ms-filter: blur(0px);
   filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='0');
   image-rendering: optimizeSpeed;             /*                     */
   image-rendering: -moz-crisp-edges;          /* Firefox             */
   image-rendering: -o-crisp-edges;            /* Opera               */
   image-rendering: -webkit-optimize-contrast; /* Chrome (and Safari) */
   image-rendering: optimize-contrast;         /* CSS3 Proposed       */
   -ms-interpolation-mode: nearest-neighbor;   /* IE8+                */
}



.mouseok
{
 display: block;
 width: 5px;
 height: 5px;
 -ms-transform: rotate(45deg); /* IE 9 */
 -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
 transform: rotate(45deg);

 border-right: 2px solid white;
 border-bottom: 2px solid white;
 margin: 0 0 3px 6px;
 margin: 0 auto;
}

.unu
{
 margin-top: 6px;
 margin: 0 auto;
}

.unu, .doi, .trei
{
   -webkit-animation: mouse-scroll 1s infinite;
   -moz-animation: mouse-scroll 1s infinite;
 margin: 0 auto;
 color:transparent;
}

.unu
{
 -webkit-animation-delay: .1s;
 -moz-animation-delay: .1s;
 -webkit-animation-direction: alternate;
 margin: 0 auto;
}

.doi
{
 -webkit-animation-delay: .2s;
 -moz-animation-delay: .2s;
 -webkit-animation-direction: alternate;
 margin: 0 auto;
}

.trei
{
 -webkit-animation-delay: .3s;
 -moz-animation-delay: .3s;
 -webkit-animation-direction: alternate;
 margin: 0 auto;
}




.mouse{
   height: 21px;
   width: 14px;
 border-radius: 10px;
 transform: none;
 border: 2px solid white;
 top: 170px;
 margin: 0 auto;
}

.wheel{
 height: 5px;
 width: 2px;
 display: block;
 margin: 5px auto;
 background: white;
 position: relative;
 margin: 0 auto;
 color:transparent;
}

.mouse .blacka{
   border: 2px solid #000;
}
.wheel .black{
   background: #000;
}

.wheel{
 -webkit-animation: mouse-wheel 1.2s ease infinite;
 -moz-animation: mouse-wheel 1.2s ease infinite;
 margin: 0 auto;
}

@-webkit-keyframes mouse-wheel
{
  0% {
   opacity: 1;
   -webkit-transform: translateY(0);
   -ms-transform: translateY(0);
   transform: translateY(0);
 }

 100% {
   opacity: 0;
   -webkit-transform: translateY(6px);
   -ms-transform: translateY(6px);
   transform: translateY(6px);
 }
}

@-moz-keyframes mouse-wheel
{
 0% { top: 1px; }
 50% { top: 2px; }
 100% { top: 3px;}
}

@-webkit-keyframes mouse-scroll {

 0%   { opacity: 0;}
 50%  { opacity: .5;}
 100% { opacity: 1;}
}
@-moz-keyframes mouse-scroll {

 0%   { opacity: 0; }
 50%  { opacity: .5; }
 100% { opacity: 1; }
}
@-o-keyframes mouse-scroll {

 0%   { opacity: 0; }
 50%  { opacity: .5; }
 100% { opacity: 1; }
}
@keyframes mouse-scroll {

 0%   { opacity: 0; }
 50%  { opacity: .5; }
 100% { opacity: 1; }
}

.mouse-scroll-black .mouse{
   border: 2px solid #cfcfcf;
}
.mouse-scroll-black .mouseok{
   border-right: 2px solid #cfcfcf;
   border-bottom: 2px solid #cfcfcf;
}
.wheel {
   background: #7f8c8d;
}

.mouse-scroll{
   /*background: #000;*/
}

.mobile-sidebar,
.sidebar-overlay.active,
#header .header-main {
   transition: all 0.3s ease-in-out !important;
   -webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
}

#mini-cart, .cart-popup{
   transition:all 0.8s ease-in-out !important;
   -webkit-transition:all 0.8s ease-in-out;
   -moz-transition:all 0.8s ease-in-out;
   -o-transition:all 0.8s ease-in-out;
   animation: menuFadeIn 0.5s ease !important;
   -webkit-animation: menuFadeIn 0.5s ease;
   -moz-animation: menuFadeIn 0.5s ease;
   -o-animation: menuFadeIn 0.5s ease;
}

.panel-overlay.active {
   background: #fff !important;
   opacity: 0.80 !important;
   -webkit-transition: opacity 0.8s ease-in-out 0s;
   -moz-transition: opacity 0.8s ease-in-out 0s;
   -0-transition: opacity 0.8s ease-in-out 0s;
   transition: opacity 0.8s ease-in-out 0s;
}
