

input[type="email"], input[type="number"], input[type="password"], input[type="search"],
input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"],
input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"], select {
    padding: 1px 8px !important;
    font-size: 12px !important;
    line-height: 26px !important;
}
input[type="number"]{
    line-height: 20px !important;
}
.select2-container .select2-selection--single .select2-selection__rendered {
    display: block;
    padding-left: 5px;
    padding-right: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 26px;
}
/*
input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"], input[type="url"],
input[type="color"], input[type="date"], input[type="datetime"],
input[type="datetime-local"], input[type="month"],
input[type="time"], input[type="week"], textarea {
    background-color: #fffff8 !important;
    line-height: 22px !important;
    padding: 5px 10px !important;
    font-size: 15px;
    vertical-align: middle;
    box-shadow: none;
    border-radius: 20px;
    background: #FFF;
    transition:all 0.8s ease-in-out !important;
    -webkit-transition:all 0.8s ease-in-out;
    -moz-transition:all 0.8s ease-in-out;
    -o-transition:all 0.8s ease-in-out;
    width: 100%;
}
*/
input:not([type="submit"]),
/*input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"],
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="time"],
input[type="week"],
*/
select,
.select2-selection,
textarea {
    background-color: #fffff8 !important;
    transition:all 0.8s ease-in-out !important;
    -webkit-transition:all 0.8s ease-in-out;
    -moz-transition:all 0.8s ease-in-out;
    -o-transition:all 0.8s ease-in-out;
    border-radius: 20px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    margin-top: 1px;
    margin-bottom: 1px;
}
.ui_tpicker_time_input{
  background-color: #FFF !important;
}
.tm-extra-product-options .tm-epo-datepicker {
    padding-right: 10px !important;
}
/*
select {
    padding: 5px 10px !important;
}
*/


input[type="email"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus, input[type="url"]:focus,
input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus,
input[type="datetime-local"]:focus, input[type="month"]:focus,
input[type="time"]:focus, input[type="week"]:focus, select:focus, textarea:focus,
input[type="email"]:hover,
input[type="number"]:hover,
input[type="password"]:hover,
input[type="search"]:hover,
input[type="tel"]:hover,
input[type="text"]:hover, input[type="url"]:hover,
input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover,
input[type="datetime-local"]:hover, input[type="month"]:hover,
input[type="time"]:hover, input[type="week"]:hover, select:hover, textarea:hover {
    background-color: rgb(250, 255, 189) !important;
    box-shadow: 0px 0px 8px rgba(26, 44, 125, 0.31) !important;
    -ms-box-shadow: 0px 0px 8px rgba(26, 44, 125, 0.31);
    -o-box-shadow: 0px 0px 8px rgba(26, 44, 125, 0.31);
    -moz-box-shadow: 0px 0px 8px rgba(26, 44, 125, 0.31);
    -webkit-box-shadow: 0px 0px 8px rgba(26, 44, 125, 0.31);
    border: 1px solid rgba(113, 123, 179, 0.8) !important;
    color: #000 !important;
    transition:all 0.8s ease-in-out !important;
    -webkit-transition:all 0.8s ease-in-out;
    -moz-transition:all 0.8s ease-in-out;
    -o-transition:all 0.8s ease-in-out;
}



:focus {
  outline: none !important;
}
a, a:hover, a:focus, a:active, input, input:hover, input:focus, input:active{
  outline: none !important;
}

::-webkit-input-placeholder { /* Chrome */
  color: #000;
  opacity: 0.7;
  transition: opacity 250ms ease-in-out;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #000;
  opacity: 0.7;
  transition: opacity 250ms ease-in-out;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #000;
  opacity: 0.7;
  transition: opacity 250ms ease-in-out;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: #000;
  opacity: 0.7;
  transition: opacity 250ms ease-in-out;
}


:focus:-ms-input-placeholder {
  opacity: 0.3;
}
:focus::-moz-placeholder {
  opacity: 0.3;
}
:focus:-moz-placeholder {
  opacity: 0.3;
}
:focus::-webkit-input-placeholder {
  opacity: 0.3;
}

.form-row {
    margin-bottom: 5px;
    vertical-align: top;
}

.input-text.error{
  /*background-color: rgb(250, 255, 189) !important;*/
  box-shadow: 0px 0px 6px rgba(179, 15, 15, 0.2) !important;
  -ms-box-shadow: 0px 0px 6px rgba(179, 15, 15, 0.2);
  -o-box-shadow: 0px 0px 6px rgba(179, 15, 15, 0.2);
  -moz-box-shadow: 0px 0px 6px rgba(179, 15, 15, 0.2);
  -webkit-box-shadow: 0px 0px 6px rgba(179, 15, 15, 0.2);
  border: 1px solid rgb(236, 103, 103) !important;
  outline: 0 !important;
  outline: thin dotted \9;
  color: #000 !important;
}
label.error {
  color: #c10000;
  font-size: 0.7em;
  margin-top: -3px !important;
  padding: 0 !important;
  opacity: 0.8;
  margin-bottom: -9px !important;
  display: block !important;
  padding-left: 11px !important;
  background: rgba(255, 255, 255, 0);
}

.woocommerce-billing-fields label.error {
margin-top: 0px !important;
margin-bottom: -5px !important;
}

.woocommerce-message .close-button,
.woocommerce-error .close-button,
.woocommerce-info .close-button {
    float: right;
    display: inline-block;
    color: white;
    cursor: pointer;
    font-weight: 900;
    right: 29px;
    top: 4px;
    padding-left: 0px;
    width: 21px;
    font-weight: 500;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.32);
    height: 21px;
    font-size: 8px;
    padding: 0px 4px 0px 8px;
    border-radius: 48px;
    margin-top: 0px;
    /*position: absolute;*/
}
.mobile-sidebar .woocommerce-message .close-button,
.mobile-sidebar .woocommerce-error .close-button,
.mobile-sidebar .woocommerce-info .close-button {
  right: 21px !important;
}

.woocommerce-message .close-button:hover,
.woocommerce-error .close-button:hover,
.woocommerce-info .close-button:hover {
  background: rgba(0, 0, 0, 0.7);
}
.woocommerce-message ul,
.woocommerce-error ul,
.woocommerce-info ul {
      /*
      display: inline-block;
      width: 95%;
      margin-left: -35px;
      */
      padding-left: 10px;
      list-style-type: none !important;
      width: 87%;
      margin-bottom: 0;
          display: inline-block;
}
.woocommerce-message ul li,
.woocommerce-error ul li,
.woocommerce-info ul li {
    line-height: 19px;
}
.woocommerce-msg a, .lwa-status a{
  color: #FFF !important;
    font-weight: normal;
    padding: 1px 10px 2px !important;
    margin: 1px 1px 0px !important;
    font-size: 0.8em !important;
    background: rgba(0, 0, 0, 0.22) !important;
    border: none;
    border-radius: 20px;
    display: inline-block;
    line-height: 15px;
}
.woocommerce-info a {
  margin-top: 3px!important;
}
.lwa-status a:hover, .woocommerce-msg a:hover, .woocommerce-msg a:active, .woocommerce-msg a:focus {
    color: #FFF !important;
    text-decoration: none;
    background: rgba(0, 0, 0, 0.99) !important;
    border: none;
}

.woocommerce-msg, .lwa-status{
  border: 3px solid rgb(255, 255, 255);
  color: #ffffff;
  font-weight: 500;
  border-radius: 15px;
  width: 97%;
  margin-left: auto;
  margin-right: auto;
  padding: 5px 10px;
  font-size: 0.9em;
  margin-bottom: 5px;
  box-shadow: 1px 5px 6px -1px rgba(173, 0, 0, 0.09);
  line-height: 17px;
}

.alert-danger,
.woocommerce-error, .lwa-status-invalid {
   background-color: rgba(187, 0, 0, 0.55);
   color: #ffffff;
}
.alert-success,
.woocommerce-message, .lwa-status-confirm {
  background-color: #b3dca2;
  color: #136314;
}

.woocommerce-info {
    background-color: #5db4de;
    color: #FFF;
}

.qtywrap > div {
    float: left;
    width: 23px;
    text-align: center;
    font-weight: bold;
    height: 100%;
    padding: 1px 0px;
    cursor: pointer;
    background: rgb(234, 234, 234);
    border-radius: 100%;
    margin-top: 11px;
    color: #000;
    margin: 1px 2px 0;
    font-size: 15px;
}
.qtywrap > div:hover {
    background: rgb(69, 62, 151);
    color: #FFF;
}
.qtywrap {
    width: auto;
    background-color:transparent;
    clear: both;
    overflow-y: auto;
}
.qtycol input.input-text.qty.text {
    width: 40px;
    border: 0 !important;
    margin: 0;
    text-align: center;
    margin: 1px auto 1px;
    padding: 1px 5px !important;
}
.qtycol input.input-text.qty.text {
    border: 1px solid #CCC !important;
}
.quantity .minus,
.qtycol .minusqty {
    background-color: #e48e8e !important;
    color: #FFF;
}
.quantity .minus:hover,.quantity .minus:active,
.qtycol .minusqty:hover,.qtycol .minusqty:active  {
    background-color: #c76b6b !important;
    color: #FFF;
}
.quantity .plus,
.qtycol .plusqty {
   background-color: #73c501 !important;
   color: #FFF;
}
.quantity .plus:hover,.quantity .plus:active,
.qtycol .plusqty:hover, .qtycol .plusqty:active {
   background-color:#538e33 !important;
   color: #FFF;
}



button[type="submit"].button {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #6da34e;
    border-color: #88bf69;
}
.single_add_to_cart_button {
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 5px;
    height: auto !important;
    line-height: normal;
    text-transform: inherit;
}

.single_add_to_cart_button:before {
    /*
    http://newsmartwave.net/magento/porto/icons_list/demo.html
    http://lucijanblagonic.github.io/Washicons/
    http://zavoloklom.github.io/material-design-iconic-font/cheatsheet.html
    */
    /*
    content: '\e81a' !important;
    font-family: 'Porto' !important;
    "Porto"
    "Material-Design-Iconic-Font"
    "FontAwesome"
    "washicons"
    "Flaticon"
    <i class="material-icons">&#xE54A;</i>
    */
    content: '\f1e9' !important;
    font-family: "Material-Design-Iconic-Font" !important;
    padding: 0px 8px 0px 0px;
    margin-top: -2px;
    font-size: 19px !important;
    margin-bottom: 0px;
    display: inline-block;
    /*position: absolute;*/
    position: relative;
    /*margin-left: -19px;*/
}
.wcplprotable .single_add_to_cart_button:before {
    content: '\f067' !important;
    font-family: "FontAwesome" !important;
    padding: 0px 8px 0px 0px;
    margin-top: -2px;
    font-size: 12px !important;
    margin-bottom: 0px;
    display: inline-block;
    /* position: absolute; */
    position: relative;
    /* margin-left: -19px; */
}
.btn, .button, input.submit, input[type="submit"].btn, input[type="submit"].button {
    border-radius: 20px!important;
    padding: 4px 10px !important;
}
.single_add_to_cart_button{
  border-radius: 20px !important;
}
.transicao, .button ,.btn {
    transition:all 0.5s ease-in-out !important;
    -webkit-transition:all 0.5s ease-in-out;
    -moz-transition:all 0.5s ease-in-out;
    -o-transition:all 0.5s ease-in-out;
    background-color: #88bf69;
    border-color: #88bf69;
    padding: 4px 10px 4px 8px;
    color: #FFF;
}


.nav > li > a:focus,
.btn-primary:hover,
.btn:hover,
.button:hover,
input.submit:hover,
input[type="submit"].btn-primary:hover,
input[type="submit"].button:hover,
input[type="submit"].submit:hover
/*
.btn-primary:active,
.button:active,
input.submit:active,
input[type="submit"].btn-primary:active,
input[type="submit"].button:active,
input[type="submit"].submit:active,
.btn-primary:focus,
.button:focus,
input.submit:focus,
input[type="submit"].btn-primary:focus,
input[type="submit"].button:focus,
input[type="submit"].submit:focus
*/
{
      border-color: #0077b3 !important;
      background-color: #046ca1 !important;
      transform: rotate(0deg) scale(1.08) skew(0deg) translate(0px) !important;
      -webkit-transform: rotate(0deg) scale(1.08) skew(0deg) translate(0px);
      -moz-transform: rotate(0deg) scale(1.08) skew(0deg) translate(0px);
      -o-transform: rotate(0deg) scale(1.08) skew(0deg) translate(0px);
      -ms-transform: rotate(0deg) scale(1.08) skew(0deg) translate(0px);
      box-shadow: 4px 7px 10px -2px rgba(2, 0, 25, 0.15);
      border: 1px solid #26b7ff;
      outline: none !important;
      /*border-color: #7ab757;*/
      background-color: #5472D2 !important;
      transform: rotate(0deg) scale(1.08) skew(0deg) translate(0px) !important;
      -webkit-transform: rotate(0deg) scale(1.08) skew(0deg) translate(0px);
      -moz-transform: rotate(0deg) scale(1.08) skew(0deg) translate(0px);
      -o-transform: rotate(0deg) scale(1.08) skew(0deg) translate(0px);
      -ms-transform: rotate(0deg) scale(1.08) skew(0deg) translate(0px);
      outline: none !important;
      color: #FFF;
}

.btn-primary .disabled:hover, .btn .disabled:hover, .button .disabled:hover{
  background-color: #88bf69 !important;
  border-color: #88bf69 !important;
  transform: rotate(0deg) scale(1) skew(0deg) translate(0px) !important;
  -webkit-transform: rotate(0deg) scale(1) skew(0deg) translate(0px) !important;
  -moz-transform: rotate(0deg) scale(1) skew(0deg) translate(0px) !important;
  -o-transform: rotate(0deg) scale(1) skew(0deg) translate(0px) !important;
  -ms-transform: rotate(0deg) scale(1) skew(0deg) translate(0px) !important;
  box-shadow: none !important;
}

.woocomerce-FormRow .button, .lwa-form .btn{
    background-color: #50b567 !important;
    border-color: #2e6b46 !important;
        margin: 10px auto 10px !important;
}

body .cart-actions .button,
body .checkout-button,
body #place_order,
body .btn-lg,
body .btn-group-lg > .btn,
body input.submit.btn-lg,
body input.btn.btn-lg[type="submit"],
body input.button.btn-lg[type="submit"],
body .return-to-shop .button {
    padding: 5px 12px;
    font-size: 15px;
    line-height: 1.33;
    border-radius: 6px;
}
a.button.checkout {
    background-color: #0088cc !important;
    border-color: #0088cc !important;
}

dt, dd {
    line-height: 6px;
}


.select2-container--open .select2-dropdown--below {
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border: none;
    box-shadow: 1px 8px 7px 3px rgba(0, 0, 0, 0.09);
    padding: 6px 2px;
    border: 1px solid #d2d2d2;
    border-radius: 8px;
}
.select2-container .select2-selection--single {
    height: inherit;
}


.ios7-switch span {
    font-size: 1.5em;
    margin-top: 8px;
    display: inline-block;
    margin-bottom: -4px;
}
.ios7-switch input + span {
    background: #fb7d7d;
}


input.disabled {
  opacity: 0.6 !important;
  -webkit-opacity: 0.6 !important;
  -ms-opacity: 0.6 !important;
  -o-opacity: 0.6 !important;
  -moz-opacity: 0.6 !important;
  filter: alpha(opacity=60);
}

.verifica-obrigatorio, .verifica-obrigatorio-div{
    font-size: 0.8em;
    color: red;
}

.table-responsive {
    border: 0px solid #ddd;
}

.woocommerce .featured-box h2,
.woocommerce-page .featured-box h2,
.woocommerce .featured-box h3,
.woocommerce-page
.featured-box h3,
.woocommerce .featured-box h4,
.woocommerce-page .featured-box h4 {
    clear: both;
    display: block;
    margin-bottom: 3px;
}

#arf_message_success {
    width: 100% !important;
    margin: 0 0 10px 0 !important;
    border-radius: 11px !important;
    font-size: 1em !important;
    padding-top: 0px !important;
    padding-bottom: 0 !important;
    min-height: 20px !important;
}
.msg-detail {
    padding: 0 0 0 5px !important;
    min-height: 20px !important;
    line-height: 27px !important;
}
.arf_fieldset{
  background: transparent !important;
}

@media screen and (max-width: 767px){
  table.wcplprotable tr {
      border-bottom: 0px solid #6C6360 !important;
      margin-bottom: 3px !important;
      padding: 1px 0 !important;
  }
}

@media (max-width: 767px){
  table.wcplprotable.shop_table .single_add_to_cart_button {
      margin-bottom: 5px !important;
  }
}


.input-group-icon .input-group-addon,
.input-search .input-group-addon {
    position: relative;
    padding: 0;
    border: 0 none;
    width: 0;
}
.input-group-icon .input-group-addon + input.form-control,
.input-search .input-group-addon + input.form-control {
    padding-right: 12px !important;
    padding-left: 36px !important;
    border-radius: 20px !important;
}
.input-group-icon .input-group-addon span.icon,
.input-search .input-group-addon span.icon {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    border: 0;
    z-index: 3;
    width: auto;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    padding: 8px 16px 0px;
    background: transparent;
    line-height: 1.42857143;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    pointer-events: none;
}
