.mobile-sidebar {
    right: 0;
    left: inherit;
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0);
    transform: translate(280px);
    -webkit-transition: transform 0.4s ease-in-out 0s;
    -moz-transition: transform 0.4s ease-in-out 0s;
    transition: transform 0.4s ease-in-out 0s;
    z-index: 9999;
    background: #FFFFFF;
    top: inherit !important;
    bottom:0!important;
    width: 280px;
}
.mobile-sidebar .sidebar-toggle {
    left: -67px;
    bottom: 46px !important;
    border-radius: 100%;
    color: #FFF;
    top: inherit !important;
    background: #647cc8;
    display: inline-block !important;
    width: 50px;
    height: 50px;
    padding-top: 5px;
    border: 0px solid #fff;
    box-shadow: 1px 2px 8px -1px rgba(0, 0, 0, 0.36);
    font-size: 1.5em;
    right: auto !important;
    position: fixed !important;
    -webkit-transition: transform 0.4s ease-in-out 0s;
    -moz-transition: transform 0.4s ease-in-out 0s;
    transition: transform 0.4s ease-in-out 0s;
}
@media (max-width: 767px){
    .mobile-sidebar .sidebar-toggle {
        bottom: 25px !important;
    }

    .produto-table{
        width: 107% !important;
        margin: 0 auto !important;
        margin-bottom: 20px !important;
        margin-left: -24px !important;
        margin-right: 5px !important;
    }

    .table.wcplprotable > tbody > tr > td {
        text-align: left;
    }
    .added2cartwrap {
        /*right: 10px !important;*/
    }
    .vtspinner.singlebtn {
        /*right: 10px;*/
    }


}


@media (max-width: 480px){


    .produto-table{
        width: 115% !important;
    }


}

.mobile-sidebar .sidebar-toggle:hover,.mobile-sidebar .sidebar-toggle:focus, .mobile-sidebar .sidebar-toggle:active {
    color: #FFF;
    background: #3d4e83;
}
.mobile-sidebar .sidebar-toggle i:before {
    content: "\f067";
}
.mobile .mobile-sidebar .sidebar-toggle {
    /*bottom: 76px;*/
}

.mobile .icon-como-funciona .title {
    font-size: 1.6em !important;
}


.mobile #header.sticky-header .header-main,
.mobile .fixed-header #header.sticky-header .header-main {
    top: 20px !important;
    background: transparent !important;
    box-shadow: none !important;
    left: -17px;
}
.mobile .header-main.sticky .mobile-toggle {
    color: #FFF !important;
}
.mobile .header-main.sticky #mini-cart .minicart-icon {
    color: #FFF !important;
}
.mobile .header-main.sticky #mini-cart .cart-items {
    color: #FFF !important;
}


.mobile .widget > div > ul li, .widget > ul li {
    color: #666666;
}

.widget > div > ul li, .widget > ul li {
    /*color: #FFF;*/
    padding: 7px 0px 7px 10x;
    border-radius: 8px;
}

#nav-panel {
    background-color: #2c466c;
    color: #ffffff;
}


.mobile #content .product {
    /*padding: 0 20px 0 12px;*/
}



.fixed-header #header .header-main .header-center,
.fixed-header #header .header-main .header-right{
    display: none !important;
}

.mobile .icon-como-funciona {
    width: 252px;
    margin: 0 auto;
}
.mobile #header #mini-cart {
    top: 21px !important;
}

.mobile #header.sticky-header #mini-cart {
    left:160px !important;
    top: -21px !important;
    right: auto !important;
}

.mobile .footer-main {
    display:none !important;
}
.habilita-mobile{
    display:none !important;
}
.mobile .habilita-mobile{
    display:inline-block !important;
}
.logoAdv {
        margin-bottom: -70px !important;
}
#header .header-top .header-left {
        padding-left: 60px !important;
    }
.header-left.show-menu-search #main-menu {
    padding-left: 0px;
}
@media screen and (min-width:10px) and (max-width: 768px) {

    .logoAdv {
        margin-bottom: 0px !important;
    }


    #header.sticky-header .mobile-toggle {
        /*left: -26px;*/
        left: 15px;
        top: 0px;
    }



}
@media (max-width: 991px){
    #header.logo-center .header-main .container .header-center .logo {
        margin: 0px auto 0 !important;
    }
}

@media (max-width: 480px){
    #header .header-main .container {
        padding-top: 0px;
        padding-bottom: 0px !important;
    }
    .footer-main {
        display:none !important;
    }


    .title-conheca-lavaetraz{
        padding-bottom: 22px !important;
    }


}
#header .header-top {
    display: block;
}

@media (min-width: 992px){
    #header.logo-overlay-header .overlay-logo {
        display: inline-block;
        position: relative;
        top: 0;
        z-index: 1;
        opacity: 1;
        margin-bottom: -50px;
    }
}

@media (max-width: 768px){
    .tm-extra-product-options ul.tmcp-elements:not(.tm-extra-product-options-variations) li.tmcp-field-wrap:not(.tm-per-row) {
        width: 105% !important;
        margin-left: -4px !important;
    }
}


/*----------------------------------------------------------- INICIO < 767 */
@media (max-width: 767px){

  .shop_table td.product-name,
  .shop_table th.product-name {
      /*width: 290px;
      min-width: 131px;*/
      /*max-width: 250px;*/
      text-align: center !important;
      margin-right: 0 !important;
  }

  .featured-box .shop_table .pt-left, .featured-box .shop_table .pt-right {
      float: none !important;
      text-align: center;
      width: 100% !important;
  }

.page-content > .woocommerce {
    /*margin: 30px 20px 20px !important;*/
    margin-top:0px!important;
}
.argmc-form-steps-wrapper {
    padding: 10px 0px 8px !important;
}

.mobile .argmc-wrapper .tabs-width-auto .argmc-tab-item-inner,
.mobile .argmc-wrapper .tabs-equal-width .argmc-tab-item-inner {
    top: 0 !important;
}

.shop_table.shop_table_responsive td.product-remove, .shop_table.responsive td.product-remove, .shop_table.shop_table_responsive th.product-remove, .shop_table.responsive th.product-remove {
    top: 4px;
}

table.wcplprotable tr {
    border-bottom: 0px solid #6C6360!important;
}

.shop_table.shop_table_responsive tr, .shop_table.responsive tr {
        border-top: 0px solid #ddd !important;
    padding: 5px 0px 5px !important;
    margin-bottom: -10px !important;
    margin-top: 5px;
    vertical-align: middle;
}


ul.product_list_widget li dl dt, .widget ul.product_list_widget li dl dt {
    padding: 0px 0 0 0 !important;
}

.lavanderia-itens {
    padding-left: 0;
    padding-right: 0;
}



}
/*---------------- FIM < 767 */
