


.sale-schedule-container .content-half-part{
  min-width: 185px;
  padding-left: 0px;
  padding-right: 0;
}
.product-edit-new-container .dokan-stock-management-wrapper div {
    margin-right: 10px;
}

.nome-desabilitado{
  background: #FFF;
    padding: 5px 10px;
    border: 1px solid #c1c1c1;
    border-radius: 10px;
    margin-bottom: 5px !important;
    color: #000;
    font-size: 1.5em;
}

.dokan-message, .dokan-info, .dokan-error {
    padding: 15px 15px 15px 50px;
    margin: 5px 0 15px 0;
    position: relative;
    background: #ffffff;
    border-bottom: 2px solid #0d3a63;
    border-left: 1px solid #0d385f;
    border-right: 1px solid #0d3a62;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 9px;
    color: #000;
}
.list-item-foto{
  display: none !important;
}
.row-actions{
  /*visibility: visible !important;*/
}
.row-actions span a {
    border: 1px solid #ccc;
    padding: 0 5px;
    border-radius: 11px;
    color: #FFF !important;
    margin-top: 3px !important;
    display: inline-block;
}
.row-actions span.edit a {
   background: #4e9220;
}
.row-actions span.delete a {
   background: #A05;
}
.row-actions span.view a {
   background: #6583b9;
}
@media (max-width: 767px){
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
      color: #000000;
      background-color: rgba(193, 183, 183, 0.32);
  }
}


@media (min-width: 0px) and (max-width: 767px) {

  .nome-loja {
    display: inline-block;
    padding-top: 15px;
  }

  .dokan-dash-sidebar{
    display: none;
  }
  .dokan-dashboard .dokan-dashboard-content {
    width: 98%;
        margin-left: 3px;
  }
  .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
        color: #000000;
        background-color: rgb(181, 181, 181);
  }
  .menu-top .menu-cart{
    display: none;
  }

}
@media (min-width: 430px) and (max-width: 480px) {
  .dokan-dashboard .dokan-w6, .dokan-dashboard .dokan-w8, .dokan-dashboard .dokan-w4 {
      float: none;
      width: 100%;
  }

}


.navbar-top-area .navbar-collapse .navbar-nav li:first-child {
  display: none;
}

.debug{
  padding: 10px;
  background: #FFF;
  margin: 10px;
}
